/* Custom pagination styling */
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #ddd; /* Default bullet color */
    opacity: 1;
    border-radius: 15%;
    transition: background-color 0.3s ease;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #000; /* Color for active bullet */
    transform: scale(1.2); /* Make active bullet larger */
  }
  