@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
  color: white;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
.animate-shimmer {
  animation: shimmer 3.5s linear infinite;
  background-size: 200% 100%;
  background-image: linear-gradient(110deg, #000103, 45%, #3d4958, 55%, #000103);
}
.animate-fadeIn {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Custom pagination styling */
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #ddd; /* Default bullet color */
    opacity: 1;
    border-radius: 15%;
    transition: background-color 0.3s ease;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #000; /* Color for active bullet */
    transform: scale(1.2); /* Make active bullet larger */
  }
  
  
/* Styling scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Set scrollbar width */
}

::-webkit-scrollbar:hover {
  width: 12px; /* Set scrollbar width on hover */
}

::-webkit-scrollbar-track {
  background: transparent; /* Scrollbar track color */
}

::-webkit-scrollbar-thumb {
  background: #31363F; /* Scrollbar color */
  border-radius: 2px; /* Make scrollbar rounded */
}

::-webkit-scrollbar-thumb:hover {
  background: #31363F; /* Scrollbar color on hover */
  width: 12px; /* Optional: adjust width on hover */
}